$white: #ffffff;
$blackish: #333333;
$lighterblue: #1856a2;
$darkerblue: #1b3a6d;
$creamygray: #e7e5e3;
$lightergreen: #83c9bb;
$darkergreen: #00a789;
$darkgray: #1a1a1a;
/*$newblue: #005a8c;*/
$newblue: #ff0000;